<div>
	<canvas id="game-display" width="710px" height="370px"></canvas><canvas id="player-display" width="130px" height="370px"></canvas>
	<br/>
	<canvas id="game-dice-window" width="710px" height="30px"></canvas><br/>
	<input type="button" value="load remote game" onClick="load_remote_game()"></input>
	<input type="button" value="step forward" onClick="next_step()"></input>
	<input type="button" value="step backwards" onClick="last_step()"></input>
	<input type="button" value="Play" onClick="play_loop()"></input>
	<input type="button" value="Stop" onClick="stop()"></input>
</div>

